<h4>Welcome to Radash.</h4>
<p>Hello {{ firstname }} {{ lastname }},</p>
<p>Use the details below to login to your Radash account.</p>

<div>
    <p>email: <strong>{{email}}</strong></p>
    <p>password: <strong>{{password}}</strong></p>
</div>

<p>Ensure to change to your desired password after login.</p>